include README.md
include LICENSE
include pyproject.toml
include gmmxx/py.typed

recursive-include gmmxx *.py

prune .autotune
prune .pytest_cache
prune .tmp
prune .triton-cache
prune benchmarks
prune docs
prune tests
prune third_party

global-exclude __pycache__ *.py[cod] *.pyd *.so *.dll
